/*INTER*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --color-primary: hsl(236, 50%, 10%);
    --color-secondary: hsl(236, 50%, 90%);
    --color-tertiary: hsl(296, 80%, 80%);
    --color-accent: hsl(176, 80%, 80%);
    /*  FONTS  */
    --ff: "Inter";
    --h1: bold 54px/65px var(--ff);
    --h2: bold 40px/50px var(--ff);
    --p: 18px/30px var(--ff);
}
* {
    margin: 0px;
    padding: 0px;
}
h1{
    font: var(--h1);
    color: var(--color-secondary);
}
h2{
    font: var(--h2);
    color: var(--color-secondary);
}
p{
    font: var(--p);
    color: var(--color-secondary);
}
nav{
    overflow: hidden;
    background: var(--color-primary);
}

#hamIcon{
    display: none;
    color: var(--color-accent);
}
.logo{
    position: absolute;
    margin-left: 0;
    width: 85px;
    
  }
ul {
    list-style: none;
}
li{
    display:block;
    margin-bottom:30px;
    float: right;
    margin-right: 40px;
}
li:nth-child(1){
    margin-right: 5%;
}
nav a{
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font: var(--p);
    color: var(--color-secondary);
    text-align: center;
    display: inline-block;
    position: relative;
  }
  nav li a::after{
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 5px;
    bottom: 10px;
    left: 25%;
    background-color: var(--color-secondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
  }
  nav li a:hover{
    font-weight: bolder;
    transition: transform 0.5 ease-in;
  }
  nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  header{
    background: var(--color-secondary);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    min-height: 85vh;
    align-items: center;
}

header section{
    h1, p{
        padding-bottom: 20px;
        color: var(--color-primary);
    }
    grid-column: 1/5;
    text-align: center;
    button{
        margin-top: 10px;
        height: 50px;
        width: 170px;
        background: var(--color-primary);
        color: var(--color-secondary);
        font: var(--p);
        font-weight: bolder;
        border:none;
        border-radius: 10px;
    }
    button:hover{
        background-color: var(--color-secondary);
        border: 3px solid var(--color-primary);
        color: var(--color-primary);
        transition: 0.5s ease-in-out;
    }
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-secondary);
    p, h2{
        color: var(--color-primary);
    }
    h2{
        padding-top: 50px
    }
    p{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    aside{
        display:block;
        grid-column: 1/2;
        ul{
            width: 50%;
            border-right: 1px solid var(--color-primary);
        }
        li{
            float:none;
            padding-bottom: 20px;
            
        }
        a{
            text-decoration: none;
            font: var(--p);
            color: var(--color-primary);
            text-align: center;  
        }
        a:hover{
            font-weight: bolder;
            transition: transform 0.5 ease-in;
        }
        margin: 50px;
        
    }
    article{
        h1{
            padding-top: 50px;
            color: var(--color-primary)
        }
    }
    }





footer{
    background: var(--color-primary);
    text-align: center;
    padding:20px;
}

@media only screen and (max-width:480px) { 
    nav{
        
     a:hover {    
        padding:0;
    }
    #hamIcon{
        display:block;
        font-size: 30px;
        margin: 20px;
        float:left;
    }
    ul.menu {
        display: none;
    }
    li{
        float:none;
        text-align: center;
        width: 100%;
        overflow: hidden;
        
    }
    li:nth-child(3){
        padding-bottom: 30px;
    }
    img{
        display:none;
     }

    

    
}

header, section{
    padding:20px;
}

aside{
    ul{
        display:none;
    }
}

article{
    grid-column: 1/3;
    margin: 50px;
    
}
}
